<div class="card">
  <img [src]="product.image" [alt]="product.name" class="img" />

  <h3 class="name">{{ product.name }}</h3>
  <p class="desc">{{ product.description }}</p>

  <div class="meta">
    <span class="price">{{ product.price }} ₸</span>
    <span class="rating">⭐ {{ product.rating }}</span>
  </div>

  <a [href]="product.link" target="_blank" rel="noopener" class="link">
    Open on Kaspi
  </a>
</div>
<div class="actions">
  <a [href]="telegramShareUrl" target="_blank">
    Share Telegram
  </a>
</div>
